.pages{
    width: 100vw;
}

.buffer{
    width: 100%;
    height: 5vh;
}
.page{
    overflow-y: auto;

    width: 100%;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    padding: 0vh 1rem 1rem 16rem;
    background-color: #313131;
    min-height: 90vh;
    transition: all 0.3s ease;

    position: relative
}

#one{
    overflow: hidden;

    height:  100vh;
    background-color: var(--bg);

    display: flex;
    flex-direction: row-reverse;
    scroll-behavior: smooth;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}
footer{
    position:relative;
    bottom: 0;
    z-index: 0;
    width:100%;
    height: 5vh;
    background-color: #313131;
    
}
#two{
    background-color: var(--bg);
    scroll-snap-align: start;
    height: 125vh;


}

#three{
    background-color: var(--bg);
    height: 100vh;
    overflow: hidden;
}

#four{
    background-color: var(--bg);
    height: 100vh;
}

.nextPage{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.hidden{
    display: none !important;
}

.back-section
{
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    max-height: 100vh !important;
}

.active
{
    z-index: 2;
    opacity: 1;
    animation: slideSection 1s ease;
    position: relative;
}
@keyframes slideSection
{
    0%
    {
        transform: translateX(100%);
    }
    100%
    {
        transform: translateX(0%);
    }
}

p{
    color: var(--textcolor)

}
@media only screen and (max-width: 1310px) {

    #two{
        height: 150vh;
    }
}
@media only screen and (max-width: 1000px) {

    #two{
        height: 175vh;
    }
    #four{
        height: 120vh;
    }
}
@media only screen and (max-width: 700px) {
   
    .page{
        padding: 1rem;

    }

    #one{
        height: 115vh;
        padding-bottom: 10rem;
        align-content: center;

    }
    #two{
        height: 250vh;
    }
    #four{
        height: 150vh;
    }
    footer{
        bottom: 4rem;
    }

}

@media only screen and (min-width: 700px) {
    

}